<component name="ArtifactManager">
  <artifact type="war" name="SpringMVCHibernateWithSpringSecrity:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringMVCHibernateWithSpringSecrity.war">
      <element id="artifact" artifact-name="SpringMVCHibernateWithSpringSecrity:war exploded" />
    </root>
  </artifact>
</component>